body {
    padding: 0px;
    margin: 0px;
}

.theContainer {
}

.demo {
    margin: 100px 200px;
    background-color: #000000;
}

.demo p {
    color: red;
}

.theArea {
    margin: 50px 100px auto 100px;
    background-image: url(blank.png);
    height: 200px;
    border: 1px dashed red;
}
